*{
    font-size: 20px;
}

.login_main_div{
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    input{
        width: 300px;
        margin: 8px;
        padding: 20px;
    }
}

.login_register_div {
    width: 100%;
    span {
        color: black;
        margin-right: 8px;
    }
}



